name: Build Trains

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      # I wish there could be an Action for this.

      - name: Install Scoop - setup - build
        shell: pwsh
        run: |
            Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
            Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
            scoop bucket add openttd https://github.com/WenSimEHRP/OpenTTD-Bucket
            scoop install openttd/nml
            scoop install openttd/gorender
            make
